* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(76, 105, 131, 0.5)), to(rgba(76, 105, 131, 0.5))), url("/images/background.jpeg");
  background-image: linear-gradient(to right, rgba(76, 105, 131, 0.5), rgba(76, 105, 131, 0.5)), url("/images/background.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }

html, body {
  height: 100%; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: #B6FFF9;
  -webkit-transition: color .5s;
  transition: color .5s; }
  a:hover {
    color: #83fff5; }

.page-container {
  text-align: center;
  height: 100%;
  color: white;
  font-family: 'Open Sans', sans-serif; }

.card {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding: 3rem;
  background-color: rgba(39, 57, 82, 0.8);
  border-radius: 3px;
  max-width: 600px;
  -webkit-animation: fadeIn ease 1.5s;
  animation: fadeIn ease 1.5s;
  height: 100%; }
  .card .header {
    text-align: center; }
    .card .header img.picture {
      opacity: 0;
      max-width: 80px;
      border-radius: 50%;
      border: 4px solid #4C6983;
      -webkit-animation: fadeIn ease 1.5s;
      animation: fadeIn ease 1.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s;
      margin-bottom: 1rem; }
    .card .header h1.title {
      opacity: 0;
      margin-top: 0;
      margin-bottom: .7rem;
      font-family: 'Montserrat', sans-serif;
      -webkit-animation: fadeInTop ease 1s;
      animation: fadeInTop ease 1s;
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .card .header h2.subtitle {
      opacity: 0;
      margin-top: 0;
      font-weight: lighter;
      color: #B6FFF9;
      -webkit-animation: fadeInBottom ease 1s;
      animation: fadeInBottom ease 1s;
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .card .header::after {
      content: "";
      display: table;
      clear: both; }
  .card p.about {
    margin-top: 0;
    opacity: 0;
    -webkit-animation: fadeIn ease 1s;
    animation: fadeIn ease 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.social-list {
  opacity: 0;
  padding: 0;
  margin: 0;
  -webkit-animation: fadeIn ease 1s;
  animation: fadeIn ease 1s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  .social-list li {
    display: inline-block;
    margin-right: .5rem; }
    .social-list li:last-child {
      margin-right: 0; }
    .social-list li a {
      display: block;
      font-size: 1.2rem; }

@media screen and (min-width: 700px) {
  .page-container {
    padding: 3rem; }
  .card {
    background-color: #273952; }
    .card .header {
      text-align: left; }
      .card .header img.picture {
        float: left;
        margin-right: 20px; }
      .card .header > div {
        float: left; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInTop {
  from {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeInTop {
  from {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fadeInBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeInBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
