@import "_colors";

* {
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(to right, rgba($color1, .5), rgba($color1, .5)), url('/images/background.jpeg'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: $link-color;
    transition: color .5s;

    &:hover {
        color: $link-hover-color;
    }
}

.page-container {
    
    text-align: center;
    height: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}

.card {

    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding: 3rem;
    background-color: rgba($color3, .8);
    border-radius: 3px;
    max-width: 600px;
    animation: fadeIn ease 1.5s;
    height: 100%;

    .header {

        text-align: center;

        img.picture {
            opacity: 0;
            max-width: 80px;
            border-radius: 50%;
            border: 4px solid $color1;
            animation: fadeIn ease 1.5s;
            animation-fill-mode: forwards;
            animation-delay: 1.5s;
            margin-bottom: 1rem;
        }

        h1.title {
            opacity: 0;
            margin-top: 0;
            margin-bottom: .7rem;
            font-family: 'Montserrat', sans-serif;
            animation: fadeInTop ease 1s;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
        }
    
        h2.subtitle {
            opacity: 0;
            margin-top: 0;
            font-weight: lighter;
            color: $color4;
            animation: fadeInBottom ease 1s;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
        }

        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    p.about {
        margin-top: 0;
        opacity: 0;
        animation: fadeIn ease 1s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
    }
}

.social-list {

    opacity: 0;
    padding: 0;
    margin: 0;
    animation: fadeIn ease 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    li {
        display: inline-block;
        margin-right: .5rem;

        &:last-child {
            margin-right: 0;
        }

        a {
            display: block;
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width: 700px){

    .page-container {
        padding: 3rem;
    }

    .card {

        background-color: $color3;

        .header {

            text-align: left;

            img.picture {
                float: left;
                margin-right: 20px;
            }
    
            > div {
                float: left;
            }
    
        }
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInTop {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}